<h1>ToDo</h1>

<div class="container">
  <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">
    Enter the required fields
  </div>
    <form (ngSubmit)="!todoForm.invalid && save()" #todoForm="ngForm">
      <div class="alert alert-warning" *ngIf="description.dirty && description.invalid">
       Description is required with atlest 5 characters.
      </div>
      <fieldset class="form-group">
        <label>Description</label>
        <input type="text" 
          class="form-control" 
          #description="ngModel"
          [(ngModel)]="todo.description"
          name="description" 
          required="required"
          minlength="5">
      </fieldset>

      <fieldset class="form-group">
        <div class="alert alert-warning" *ngIf="targetDate.dirty && targetDate.invalid">
         Target Date is required.
        </div>
        <label>Target Date</label>
        <input type="date"
          class="form-control"  
          #targetDate="ngModel"
          [ngModel]="todo.targetDate | date:'yyyy-MM-dd'"
          (ngModelChange)="todo.targetDate = $event"
          name="targetDate" required="required">
      </fieldset>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>